# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Final Project - CatSim.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Programs\Unity\Projects\Final Project - CatSim\.idea\.idea.Final Project - CatSim\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
